.icon {
    margin: 0 10px;
    cursor: pointer;
    position: absolute;
}

.icon img {
    width: 30px;
    height: 30px;
    transition: filter 0.5s ease;
    filter: brightness(80%);
}

.icon img:hover {
    filter: brightness(120%);
}